<!-- GLOBALS -->
<%
	pluginName = 'BDSPlugin';

	measure_protex_total = measure('protex-total-files')
	measure_protex_pending_total = measure('protex-total-pending-files')
	measure_protex_no_discovery_total = measure('protex-total-no-discovery-files')
	measure_protex_discovery_total = measure('protex-total-discovery-files')
	measure_protex_analyzed_date = measure('protex-analyzed-date')
	
	protex_info_json =measure('protex-info-bean')
	
	protex_err_msg = measure('protex-error-message')
	
	fomatted_total = format_measure(measure_protex_total, :suffix => '')
	formatted_pending = format_measure(measure_protex_pending_total, :suffix => '')
	formatted_no_disc = format_measure(measure_protex_no_discovery_total, :suffix => '')
	formatted_disc = format_measure(measure_protex_discovery_total, :suffix => '')
	formatted_date = format_measure(measure_protex_analyzed_date, :suffix => '')
%>
<script type="text/javascript">
function loadjsfile(filename){
    var fileref=document.createElement('script')
    fileref.setAttribute("type","text/javascript")
    fileref.setAttribute("src", filename)
    if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref)
}
function loadcssfile(filename){
    var fileref=document.createElement("link")
    fileref.setAttribute("rel", "stylesheet")
    fileref.setAttribute("type", "text/css")
    fileref.setAttribute("href", filename)
    if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref)
}

loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'font-awesome/css/font-awesome.min.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'comp_analysis/comp_an_css.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'common/grids-min.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'common/bds_common.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'qtip/jquery.qtip.css') -%>")	
</script>

<script type="text/javascript" src="<%= url_for_static(:plugin => pluginName, :path => 'spop/contrib/require.min.js') -%>  "></script>

<script type="text/javascript">
      <% if !protex_err_msg.nil? and !protex_err_msg.data.nil? and protex_err_msg.data.length > 0 %>
       			console.log("No protex data to load!");
      <% else %>
      	var bdRequire = requirejs.config({
	  		paths: {
	  			jquery: "..<%= url_for_static(:plugin => pluginName, :path => 'jquery-ui-1.11.4/external/jquery/jquery') -%>"
	  		}
		});
      
		bdRequire([
			"<%= url_for_static(:plugin => pluginName, :path => 'qtip/jquery.qtip.min.js') -%>",
			"<%= url_for_static(:plugin => pluginName, :path => 'common/bds_common_functions.js') -%>"
		   ],
		   function() {		 
          		console.log("Started processing component analysis.");
		 
            <% if !protex_info_json.nil? %>
            	var infoJson = <%=protex_info_json.data%>;

            	if(infoJson != null) {
              		var protexBomUrl = infoJson.protexBomURL;
              		var protexLinkUI = jQuery('#protex_bom_anchor_tag');
              		protexLinkUI.attr('href',protexBomUrl);
            	}

             	// Build the Protex info Tip        
             	if(infoJson != null) {
                 	var protexInfoList = "";
                 	var html_info_list = "";  
       
	                html_info_list = buildHtmlToolTip("Server", infoJson.protexServer);
                 	html_info_list = html_info_list + buildHtmlToolTip("Project", infoJson.protexProjectPojo.projectName);
                 	html_info_list = html_info_list + buildHtmlToolTip("Analyzed Date", infoJson.protexProjectPojo.analyzedDate);
                
                 	console.log("Protex Info HTML:" + html_info_list);
  
                	// Create a tooltip for the protex info button
                	buildToolTip(".protex-tooltip-info", "Protex Information", html_info_list);     
            	}
            <% else %>
              console.log("Protex Info: Nil"); 		
  	        <% end %>
            
  		      	var discoveredFiles = <%=measure_protex_discovery_total.value%>;
  		      	console.log("Discovered files: " + discoveredFiles);
  			    var pendingFiles = <%=measure_protex_pending_total.value%>;
  			    console.log("Pending files: " + pendingFiles);
  			    
  			    // We want to subtract from 1 to showcase how much percent is REMAINING rather than is absolute
  		      	var percentage_float = 1 - (pendingFiles / discoveredFiles);
  		      	var percentage = Math.floor(percentage_float * 100);
  		      	
  		      	// defensive programming here if the percentage is less than 0 
  		      	// then set the value to 0. Specifically if the pendingFiles > discoveredFiles
  		      	if(percentage < 0) {
  		      	   percentage = 0;
  		      	}
  		      	// also make sure we do not exceed 100%
  		      	if(percentage > 100) {
  		      		percentage = 100;
  		      	}
  		      	
  		      	if (pendingFiles == 0) {
  		      		// If there is no pending files we have all the work done
  			    	percentage = 100;
  		      	}
  		    
  		      	var $percentageUI = jQuery('.percentage');
  		      	var $gradientUI = jQuery('.gradient');
  		      	var $percentageContainerUI = jQuery('.percentage-container');
  		      	var $startUI = jQuery('.start');
  		    
  		      	var $tile = jQuery('#identifiedFiles');
  		      
  		      	var mainWidgetId = $tile.length;
  		      	if(mainWidgetId == 0) {
  		        	console.log("Main widget not initialized, aborting");
  		          	return;
  		      	}
  		      
  		        var percentageW = $gradientUI.width() - $percentageUI.outerWidth(true) - 1 
  		        	- parseInt($percentageUI.css("borderLeftWidth").replace("px","")) 
  		        	- parseInt($percentageUI.css("borderRightWidth").replace("px",""));
  		        $percentageContainerUI.css({ width: percentageW + "px"});
  		      	console.log(".gradient: width " + $gradientUI.width());
  		      	console.log(".percentageUI: outer width " + $percentageUI.outerWidth());
  		      	console.log(".percentageUI: borders " + $percentageUI.css("borderLeftWidth").replace("px","")
  		      			+ " + "+$percentageUI.css("borderRightWidth").replace("px",""));
  		      	console.log(".percentageContainerUI: width " + $percentageContainerUI.width());
  		      	var percentageP = $startUI.outerWidth(true) - 2;
  		      	console.log(".startUI: outer width " + $startUI.outerWidth(true));
  		      	console.log(".startUI: borders " + $startUI.css("borderLeftWidth").replace("px","")
  		      			+ " + "+$startUI.css("borderRightWidth").replace("px",""));
  		      	console.log(".startUI: right " + percentageP);
  		      	// Populate the percentage box
  		      	$percentageUI.find(".value").html(percentage + "%");
  		      
  		      	// Animate 2 seconds max -- otherwise, a percentage of that...
  		      	var anim_time = 4000 * percentage_float;
  		    
  		      	// Add a new top for percentage box based on location of gradient
  		      	$percentageUI.css({left: percentageP + "px" });
  		      	$percentageUI.css({visibility: "visible"});
  		      	$percentageUI.animate({ left: percentage + "%" }, anim_time);
  		      
  		      	console.log("Done processing, the percent is: " + percentage);
  		      
			});
      <% end %>
	</script>

   <div class="title-header">
       <h1>Component Analysis</h1>
   </div>
  
  <!-- HANDLE ERROR CASE -->
            
  <% if !protex_err_msg.nil? and !protex_err_msg.data.nil? and protex_err_msg.data.length > 0 %>
  	<br><br>
  	<div class="error-message">
  		Error: <%=protex_err_msg.data %>
  	</div>
  <% else %>

  <div class="protex-tooltip-info">
       <i class="fa fa-info-circle"></i>
  </div>
  <div class="cc-link"> 
      <a href="" target="_blank" title="Protex BOM" id="protex_bom_anchor_tag"><i class="fa fa-share-square-o"></i></a>
  </div>
  
 

  <br><br>
  <div class="container">
    <div id="identifiedFiles" class="widget-tile">
     
      <div class="grouping-numbers-bar">
          <div class="analysis-grouping">
              <div class="analysis-title title-no-link small-title">
  	            	Total<br>Files
             	 </div>
  	           <div class="analysis-number">
  	               <%=fomatted_total %>
               </div>
  	           <div class="component-analysis-trend">
  	               <%=trend_icon(measure_protex_total, :big => true)%>
  	           </div>
      	   </div>
      	   
          <div class="analysis-grouping">
      		    <div class="analysis-title title-no-link small-title">
              		Total<br>Discoveries
              </div>
              <div class="analysis-number"> 
              	   <%=formatted_disc %>
              </div>
              <div class="component-analysis-trend">
                  <%=trend_icon(measure_protex_discovery_total, :big => true)%> 
              </div>           
          </div>
          
          <div class="analysis-grouping">
  		        <div class="analysis-title title-no-link small-title">
  		            Without<br>Discoveries
              </div>
              <div class="analysis-number"> 
                  <%=formatted_no_disc %>
              </div>    
              <div class="component-analysis-trend">
                  <%=trend_icon(measure_protex_no_discovery_total, :big => true)%>
              </div>
          </div>
          
          <div class="analysis-grouping">
         		  <div class="analysis-title title-no-link small-title">
                 	 Pending<br>IDs
              </div>
              <div class="analysis-number">
                  <%=formatted_pending %>
              </div>
              <div class="component-analysis-trend">
                  <%=trend_icon(measure_protex_pending_total, :big => true)%>
		          </div>
          </div>
      </div>
      
      <div class="widget-row widget-scale">
      	<div class="widget-span widget-span-11">
	      	<div class="widget-measure-container">
	          <p class="widget-measure widget-measure-main>
    	      	<span class="widget-label">Identified</span>
        	  	<span class="nowrap">&nbsp;</span>
          	</p>
		  </div>      
		</div>      
	  </div>      
      <div class="widget-row widget-scale">
      	<div class="widget-span widget-span-11">
	      	<div class="widget-measure-container">
		        <div class="start value">0</div>
		        <div class="gradient scale">
		        	<div class="percentage-container">
		        		<div class="percentage">
		        			<span class="value">0%</span>
			    			<label>Identified</label>      
		        		</div>
		        	</div>
		        </div>
		        <div class="end value"><%=formatted_disc %></div>
	        </div>
        </div>
      </div>
      <div class="widget-row widget-scale">
	      <img class="logo" src="/static/BDSPlugin/common/bd_logo.png  ">
	  </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <% end %>
