<%
	pluginName = 'BDSPlugin';

	cc_error_msg_vuln = measure('code-center-error-message')
	cc_bom_url = measure('cc-app-bom-url')

	vuln_high_json = measure('vuln-high-list-json')
	vuln_med_json = measure('vuln-med-list-json')
	vuln_low_json = measure('vuln-low-list-json')
	
	vuln_high_count = measure('vuln-high')
	vuln_med_count = measure('vuln-med')
	vuln_low_count = measure('vuln-low')
%>
<script type="text/javascript">
function loadjsfile(filename){
    var fileref=document.createElement('script')
    fileref.setAttribute("type","text/javascript")
    fileref.setAttribute("src", filename)
    if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref)
}
function loadcssfile(filename){
    var fileref=document.createElement("link")
    fileref.setAttribute("rel", "stylesheet")
    fileref.setAttribute("type", "text/css")
    fileref.setAttribute("href", filename)
    if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref)
}

loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'font-awesome/css/font-awesome.min.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'datatables/css/demo_table_jui.css') -%>")
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'datatables/css/jquery.dataTables.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'font-awesome/css/font-awesome.min.css') -%>")	
</script>

	<script type="text/javascript" src="<%= url_for_static(:plugin => pluginName, :path => 'spop/contrib/require.min.js') -%>  "></script>
	
	<!-- UI Theme -->
<script type="text/javascript">
	var bdRequire = requirejs.config({
	  paths: {
	  	jquery: "..<%= url_for_static(:plugin => pluginName, :path => 'jquery-ui-1.11.4/external/jquery/jquery') -%>"
	  }
	});

		var dtVulnTableName = "#vuln-table-data";
		
		var fullVulnList = [];

		console.log("Vulnerabilities: Count of master list: " + fullVulnList.length)
		bdRequire([
//				"<%= url_for_static(:plugin => pluginName, :path => 'datatables/jquery.dataTables.min.js') -%>",
//				"<%= url_for_static(:plugin => pluginName, :path => 'datatables/jquery.dataTables.columnFilter.js') -%>",
//				"<%= url_for_static(:plugin => pluginName, :path => 'jquery-ui-1.11.4/jquery-ui.min.js') -%>",
				"<%= url_for_static(:plugin => pluginName, :path => 'common/bds_common_functions.js') -%>"],
	    function()
	  	{		
				// Populate Counts and Colors
				var $appCountUI = jQuery('.vuln-high-count');		
				setColorAndValue($appCountUI, "darkRed", <%=vuln_high_count.value%>);

				var $rejCountUI = jQuery('.vuln-med-count');		
				setColorAndValue($rejCountUI, "orange", <%=vuln_med_count.value%>)
				
				var $penCountUI = jQuery('.vuln-low-count');		
				setColorAndValue($penCountUI, "#FFDF00", <%=vuln_low_count.value%>)
		});	
			
		var vulnWidthSize = "10%";	
		var  vulnColumnData =  
		[
            { 
            	"mData": "componentName",
            	"sTitle": "Component Name",
            	"sWidth": "18%",
              'fnCreatedCell': function(nTd, sData, oData, iRow, iCol) 
                  {
                    // This is used by the tooltip
                    nTd.title = oData.componentName;
                  },
            }, 
            { 
           	 	"mData": "componentVersion", 
           	 	"sTitle": "Version",
           	 	"sWidth": "9%"
            }, 
    	    { 
           	 	"mData": "name", 
           	 	"sTitle": "CVE",
           	 	"sWidth": "12%",
           	 	"mRender":function(data, type, row)
           	 	{
           	 		var nvdURL = "http://web.nvd.nist.gov/view/vuln/detail?vulnId=";
           	 		var nvdURLFull = nvdURL + data;
           	 		return  '<a href="'+ nvdURLFull+'" target=_new>' + data + '</a>';
           	 	}
            }, 
            { 
           	 	"mData": "severity", 
           	 	"sTitle": "Sev",
           	 	"sWidth": "5%",
              "mRender" : function (data, type, row)
              { 
                  if(type === 'display')
                  {
                      // We want to alter the display, but keep the content to preserve filtering
                      switch(data)
                      {   
                          // Only alter the medium
                          case "MEDIUM":
                          {
                              return "MED";
                          }
                     } // switch
                  } // display
                  return data;
              } 
            }, 
            { 
           	 	"mData": "publishDate", 
           	 	"sTitle": "Date",
           	 	"sWidth": "8%",
              'fnCreatedCell': function(nTd, sData, oData, iRow, iCol) 
                {
                  // This is used by the tooltip
                  nTd.title = oData.publishDate;
                },
            }, 
            { 
           	 	"mData": "description", 
           	 	"sTitle": "Desc",
           	 	"sWidth": "8%",
           	 	'fnCreatedCell': function(nTd, sData, oData, iRow, iCol) 
            	{
            		// This is used by the tooltip
            		nTd.title = oData.description;
			        },
            }, 
        ]

		bdRequire([
				"<%= url_for_static(:plugin => pluginName, :path => 'datatables/jquery.dataTables.min.js') -%>",
				"<%= url_for_static(:plugin => pluginName, :path => 'datatables/jquery.dataTables.columnFilter.js') -%>",
				"<%= url_for_static(:plugin => pluginName, :path => 'jquery-ui-1.11.4/jquery-ui.min.js') -%>",
				"<%= url_for_static(:plugin => pluginName, :path => 'common/bds_common_functions.js') -%>"],
  		function()
		{		
			var highJsonList = <%=vuln_high_json.data%>;
			var medJsonList = <%=vuln_med_json.data%>;
			var lowJsonList = <%=vuln_low_json.data%>;
	
  	  		addToMasterList(highJsonList, fullVulnList);
			console.log("High: Count of high list: " + highJsonList.length+"  high:"+highJsonList);
			addToMasterList(medJsonList, fullVulnList);
			console.log("Medium: Count of medium list: " + medJsonList.length+"  medium:"+medJsonList);
			addToMasterList(lowJsonList, fullVulnList);
			console.log("Low: Count of low list: " + lowJsonList.length+"  low:"+lowJsonList);
	  	  	
    		createTable(dtVulnTableName,fullVulnList,vulnColumnData, 0);
    	});    

    
		bdRequire([
				"<%= url_for_static(:plugin => pluginName, :path => 'datatables/jquery.dataTables.min.js') -%>",
				"<%= url_for_static(:plugin => pluginName, :path => 'datatables/jquery.dataTables.columnFilter.js') -%>",
				"<%= url_for_static(:plugin => pluginName, :path => 'jquery-ui-1.11.4/jquery-ui.min.js') -%>",
				"<%= url_for_static(:plugin => pluginName, :path => 'common/bds_common_functions.js') -%>"],
  		function()
  	  		{		
    			var localDataTable = jQuery(dtVulnTableName).dataTable;		 
    			jQuery(window).bind('resize', function () 
    			{
    			    localDataTable.fnAdjustColumnSizing();
    			});
    
  		});
</script>

<div class="title-header">
    <h1>
      Component Vulnerabilities 
     </h1>
</div>

<div class="cc-link"> 
     <a href="<%=cc_bom_url.data%>" target="_blank" title="Code Center BOM"><i class="fa fa-share-square-o"></i></a>
 </div>
 <br>
<% if !cc_error_msg_vuln.nil? and !cc_error_msg_vuln.data.nil? %>   
  <br>
  <div class="error-message">
    Error: <%=cc_error_msg_vuln.data %>
  </div>
<% else %>
  
  <br><p>
  
  <div class="table-outer">
  	<div class="grouping-numbers-bar">
  		<div class="vuln-grouping-high">
  			<div class="vuln-high-title" onclick="javascript:filterColumnByValue(3, dtVulnTableName, this)">
  				High
  			</div>
  			<div class="vuln-high-count">
  			</div>
  			<div class="vuln-high-trend">
  				<%=trend_icon(vuln_high_count, :big => true)%>
  			</div>
  		</div>
  	
  		<div class="vuln-grouping-med">
  			<div class="vuln-med-title" onclick="javascript:filterColumnByValue(3, dtVulnTableName, this)">
  				Medium
  			</div>
  			<div class="vuln-med-count"></div>
  				<div class="vuln-med-trend">
  				<%=trend_icon(vuln_med_count, :big => true)%>
  			</div>
  		</div>
  		
  		<div class="vuln-grouping-low">
  			<div class="vuln-low-title" onclick="javascript:filterColumnByValue(3, dtVulnTableName, this)">
  				Low
  			</div>
  			<div class="vuln-low-count"></div>
  				<div class="vuln-low-trend">
  				<%=trend_icon(vuln_low_count, :big => true)%>
  			</div>
  		</div>
  	</div>
  	
  	<table id="vuln-table-data" class="display">
  		<thead></thead>
  		<tbody></tbody>
  		<tfoot>
  		  <tr>
  		  <td>	
	  		<div class="filter-info-box" title="Click to clear" id="filterBox" onclick="javascript:clearFilterSelection(dtVulnTableName)"></div>
	  	  </td>
	  	  </tr>
  		</tfoot>
  	</table>
  			
  	<br>
  	 <img class="logo" src="<%= url_for_static(:plugin => pluginName, :path => 'common/bd_logo.png') -%> ">
  </div>
<% end %>
