<!-- GLOBALS -->
<%
measure_protex_total =measure('protex-total-files')
measure_protex_pending_total =measure('protex-total-pending-files')
measure_protex_no_discovery_total =measure('protex-total-no-discovery-files')
measure_protex_discovery_total =measure('protex-total-discovery-files')
measure_protex_analyzed_date =measure('protex-analyzed-date')

protex_info_json =measure('protex-info-bean')

protex_err_msg = measure('protex-error-message')



fomatted_total = format_measure(measure_protex_total, :suffix => '')
formatted_pending = format_measure(measure_protex_pending_total, :suffix => '')
formatted_no_disc = format_measure(measure_protex_no_discovery_total, :suffix => '')
formatted_disc = format_measure(measure_protex_discovery_total, :suffix => '')
formatted_date = format_measure(measure_protex_analyzed_date, :suffix => '')
%>

<head>
	<link rel="stylesheet" type="text/css" href="<%= url_for_static(:plugin => 'BDSPlugin', :path => 'comp_analysis/comp_an_css.css') -%>" />
	<link rel="stylesheet" type="text/css" href="<%= url_for_static(:plugin => 'BDSPlugin', :path => 'common/grids-min.css') -%>" />
	<link rel="stylesheet" type="text/css" href="<%= url_for_static(:plugin => 'BDSPlugin', :path => 'common/bds_common.css') -%>" />
		
	<script>
	     
		   $j(function()
	  	 {		 
          console.log("Started processing...");
		 
          var infoJson = <%=protex_info_json.data%>;
          
          if(infoJson != null)
          {
            var protexBomUrl = infoJson.protexBomURL;
            var protexLinkUI = $j('#protex_bom_anchor_tag');
            protexLinkUI.attr('href',protexBomUrl);
          }
          
          
		      var discoveredFiles = <%=measure_protex_discovery_total.value%>;
			    var pendingFiles = <%=measure_protex_pending_total.value%>;
		
			    // We want to subtract from 1 to showcase how much percent is REMAINING rather than is absolute
		      var percentage_float = 1 - (pendingFiles / discoveredFiles);
		      var percentage = Math.floor(percentage_float * 100);
		    
		      var $percentageUI = $j('.percentage');
		      var $scaleUI = $j('.scale');
		    
		      var $startNumber = $j('.start.number');  
		      var $endNumber = $j('.end.number');  
		      var $tile = $j('#identifiedFiles');
		      
		      var mainWidgetId = $tile.length;
		      if(mainWidgetId == 0)
		      {
		          console.log("Main widget not initialized, aborting");
		          return;
		      }
		      
		      
		      var range = $j('#identifiedFiles .end.value').offset().left 
		      	-    	($j('#identifiedFiles .start.value').offset().left 
		      	+     	 $j('#identifiedFiles .start.value').outerWidth());
		      var max_left = $j('#identifiedFiles .end.value').offset().left - $percentageUI.outerWidth();
		
		  	  var min_left = ( $j('#identifiedFiles .start.value').offset().left + 
		  	  	$j('#identifiedFiles .start.value').outerWidth()) - 
		  	  	$tile.offset().left;
		  	  	
		  	  	var boxHeight = $j('#identifiedFiles').offset().top;
			 
		  	  	// TODO:  The fixed 15 will not work when browser is resized
		  	  	var top = $j('.gradient').offset().top - boxHeight - 15;
		
		      
		       // Populate the starting and ending numbers
		       // Previous bug -- need to populate "start number" with text before
		       // calculating the var. left_offset, below, b/c populating "start number"
		       // makes the left_offset larger.
		      $startNumber.html(0);
		      $endNumber.html(discoveredFiles); 
		       
		      var left_offset = $scaleUI.offset().left - $tile.offset().left;
		      
		      // Calculate based on the width of the scale less the width of the % box
		      // Subtract from the total the "width" of the percentage box by grabbing its left-most position
		      var ranged_left = ((range * (percentage_float)) + left_offset) - $percentageUI.position().left;
		
		      console.log("Range: " + range);
		      console.log("Max Left: " +  max_left);
		      console.log("Ranged left: " + ranged_left);
		      console.log("Starting value of ending block: " + $j('#identifiedFiles .end.value').offset().left);
		      console.log("Ending value of percentage block: " + $percentageUI.offset().left);
		      
		     if( ranged_left < min_left )
		     {
		     	console.log("Resetting ranged left");
        		ranged_left = min_left;
        	  }

        		
        	 if( ranged_left > max_left)
        	 	console.log("Exceeded max!");
		      
		      // Animate 2 seconds max -- otherwise, a percentage of that...
		      var anim_time = 4000 * percentage_float;
		    
		      // Add a new top for percentage box based on location of gradient
		      $percentageUI.css({top: top + "px" });
		      // Setting the left also removes the bounce from adding the "start number"
		      $percentageUI.css({left: left_offset + "px" });
		      // Populate the percentage box
		      $percentageUI.animate({ left: ranged_left + "px" }, anim_time);
		      $percentageUI.find(".value").html(percentage + "%");
		      
		      console.log("Done processing, the percent is: " + percentage);
		      
           // Build the Protex info Tip        
           if(infoJson != null)
           {
               var protexInfoList = "";
               var html_info_list = "";  
               
               html_info_list = buildHtmlToolTip("Server", infoJson.protexServer);
               html_info_list = html_info_list + buildHtmlToolTip("Project", infoJson.protexProjectName);
               html_info_list = html_info_list + buildHtmlToolTip("Analyzed Date", infoJson.protexAnalyzedDate);
              
               console.log("Protex Info HTML:" + html_info_list);

              // Create a tooltip for the protex info button
              buildToolTip(".protex-tooltip-info", "Protex Information", html_info_list);     
          }
		  });
	</script>
</head>

<body>

   <div class="title-header">
       <h1>Component Analysis</h1>
   </div>
  
  <!-- HANDLE ERROR CASE -->
            
  <% if protex_err_msg.data %>
  	<br>
  	<div class="error-message">
  		Error: <%=protex_err_msg.data %>
  	</div>
  <% else %>

  <img class="logo" src="<%= url_for_static(:plugin => 'BDSPlugin', :path => 'common/bd_logo.png') -%>  ">

  <div class="protex-tooltip-info">
       <i class="fa fa-info-circle"></i>
  </div>
  <div class="cc-link"> 
      <a href="" target="_new" title="Protex BOM" id="protex_bom_anchor_tag"><i class="fa fa-share-square-o"></i></a>
  </div>
  
 

  <br><br>
  <div class="container">
    <div id="identifiedFiles" class="widget-tile">
     
      <div class="grouping-numbers-bar">
          <div class="analysis-grouping">
              <div class="analysis-title title-no-link small-title">
  	            	Total<br>Files
             	 </div>
  	           <div class="analysis-number">
  	               <%=fomatted_total %>
               </div>
  	           <div class="component-analysis-trend">
  	               <%=trend_icon(measure_protex_total, :big => true)%>
  	           </div>
      	   </div>
      	   
          <div class="analysis-grouping">
      		    <div class="analysis-title title-no-link small-title">
              		Total<br>Discoveries
              </div>
              <div class="analysis-number"> 
              	   <%=formatted_disc %>
              </div>
              <div class="component-analysis-trend">
                  <%=trend_icon(measure_protex_discovery_total, :big => true)%> 
              </div>           
          </div>
          
          <div class="analysis-grouping">
  		        <div class="analysis-title title-no-link small-title">
  		            Without<br>Discoveries
              </div>
              <div class="analysis-number"> 
                  <%=formatted_no_disc %>
              </div>    
              <div class="component-analysis-trend">
                  <%=trend_icon(measure_protex_no_discovery_total, :big => true)%>
              </div>
          </div>
          
          <div class="analysis-grouping">
         		  <div class="analysis-title title-no-link small-title">
                 	 Pending<br>IDs
              </div>
              <div class="analysis-number">
                  <%=formatted_pending %>
              </div>
              <div class="component-analysis-trend">
                  <%=trend_icon(measure_protex_pending_total, :big => true)%>
		          </div>
          </div>
      </div>
      
      
      <div class="widget-row">
          <p>Identified:</p>
      </div>
      <div class="widget-row widget-scale">
        <div class="start value">0</div>
        <div class="gradient scale">&nbsp;</div>
        <div class="percentage">
        	<span class="value">0%</span>
	    	<label>Identified</label>      
        </div>
        <div class="end value"><%=formatted_disc %></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <% end %>
</body>