<!-- GLOBALS -->
<%
	pluginName = 'BDSPlugin';

	measure_protex_total =measure('protex-total-files')
	measure_protex_pending_total =measure('protex-total-pending-files')
	measure_protex_no_discovery_total =measure('protex-total-no-discovery-files')
	measure_protex_discovery_total =measure('protex-total-discovery-files')
	measure_protex_analyzed_date =measure('protex-analyzed-date')
	
	protex_info_json =measure('protex-info-bean')
	
	protex_err_msg = measure('protex-error-message')
	
	fomatted_total = format_measure(measure_protex_total, :suffix => '')
	formatted_pending = format_measure(measure_protex_pending_total, :suffix => '')
	formatted_no_disc = format_measure(measure_protex_no_discovery_total, :suffix => '')
	formatted_disc = format_measure(measure_protex_discovery_total, :suffix => '')
	formatted_date = format_measure(measure_protex_analyzed_date, :suffix => '')
%>
<script type="text/javascript">
function loadjsfile(filename){
    var fileref=document.createElement('script')
    fileref.setAttribute("type","text/javascript")
    fileref.setAttribute("src", filename)
    if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref)
}
function loadcssfile(filename){
    var fileref=document.createElement("link")
    fileref.setAttribute("rel", "stylesheet")
    fileref.setAttribute("type", "text/css")
    fileref.setAttribute("href", filename)
    if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref)
}

loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'font-awesome/css/font-awesome.min.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'comp_analysis/comp_an_css.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'common/grids-min.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'common/bds_common.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'qtip/jquery.qtip.css') -%>")	
</script>
<script type="text/javascript">
      <% if protex_err_msg.nil? %>
       console.log("No protex data to load");
      <% else %>
      	var bdRequire = require.config({
	  		paths: {
	  			jquery: "..<%= url_for_static(:plugin => pluginName, :path => 'jquery-ui-1.11.4/external/jquery/jquery') -%>"
	  		}
		});
      
		bdRequire([
			"<%= url_for_static(:plugin => pluginName, :path => 'qtip/jquery.qtip.min.js') -%>",
			"<%= url_for_static(:plugin => pluginName, :path => 'common/bds_common_functions.js') -%>"
		   ]
		   function() {		 
          		console.log("Started processing component analysis.");
		 
            	var infoJson = null;
            <% if !protex_info_json.nil? %>
              <% if !protex_info_json.data and !protex_info_json.empty %>
                  infoJson = <%=protex_info_json.data%>;
              <% end %>
  	        <% end %>
            
            	if(infoJson != null) {
              		var protexBomUrl = infoJson.protexBomURL;
              		var protexLinkUI = jQuery('#protex_bom_anchor_tag');
              		protexLinkUI.attr('href',protexBomUrl);
            	}
            
            
  		      	var discoveredFiles = <%=measure_protex_discovery_total.value%>;
  		      	console.log("Discovered files: " + discoveredFiles);
  			    var pendingFiles = <%=measure_protex_pending_total.value%>;
  		
  			    // We want to subtract from 1 to showcase how much percent is REMAINING rather than is absolute
  		      	var percentage_float = 1 - (pendingFiles / discoveredFiles);
  		      	var percentage = Math.floor(percentage_float * 100);
  		    
  		      	var $percentageUI = jQuery('.percentage');
  		      	var $scaleUI = jQuery('.scale');
  		    
  		      	var $startNumber = jQuery('.start.number');  
  		      	var $endNumber = jQuery('.end.number');  
  		      	var $tile = jQuery('#identifiedFiles');
  		      
  		      	var mainWidgetId = $tile.length;
  		      	if(mainWidgetId == 0) {
  		        	console.log("Main widget not initialized, aborting");
  		          	return;
  		      	}
  		      
  		      	var range = jQuery('#identifiedFiles .end.value').offset().left 
  		      		-    	(jQuery('#identifiedFiles .start.value').offset().left 
  		      		+     	 jQuery('#identifiedFiles .start.value').outerWidth());
  		      	var max_left = jQuery('#identifiedFiles .end.value').offset().left - $percentageUI.outerWidth();
  		
  		  	  	var min_left = ( jQuery('#identifiedFiles .start.value').offset().left + 
  		  	  		jQuery('#identifiedFiles .start.value').outerWidth()) - 
  		  	  		$tile.offset().left;
  		  	  	
  		  	  	var boxHeight = jQuery('#identifiedFiles').offset().top;
  			 
  		  	  	// TODO:  The fixed 15 will not work when browser is resized
  		  	  	var top = jQuery('.gradient').offset().top - boxHeight - 15;
  		
  		       // Populate the starting and ending numbers
  		       // Previous bug -- need to populate "start number" with text before
  		       // calculating the var. left_offset, below, b/c populating "start number"
  		       // makes the left_offset larger.
	  		      $startNumber.html(0);
  			      $endNumber.html(discoveredFiles); 
  		       
  			      var left_offset = $scaleUI.offset().left - $tile.offset().left;
  		      
  		    	// Calculate based on the width of the scale less the width of the % box
  		      	// Subtract from the total the "width" of the percentage box by grabbing its left-most position
  		      	var ranged_left = ((range * (percentage_float)) + left_offset) - $percentageUI.position().left;
  		
  		      	console.log("Range: " + range);
  		      	console.log("Max Left: " +  max_left);
  		      	console.log("Ranged left: " + ranged_left);
  		      	console.log("Starting value of ending block: " + jQuery('#identifiedFiles .end.value').offset().left);
  		      	console.log("Ending value of percentage block: " + $percentageUI.offset().left);
  		      
  		     	if( ranged_left < min_left ) {
  		     		console.log("Resetting ranged left");
          			ranged_left = min_left;
          	  	}
          		
	          	if( ranged_left > max_left)
          	 		console.log("Exceeded max!");
  		      
  		      	// Animate 2 seconds max -- otherwise, a percentage of that...
  		      	var anim_time = 4000 * percentage_float;
  		    
  		      	// Add a new top for percentage box based on location of gradient
  		      	$percentageUI.css({top: top + "px" });
  		      	// Setting the left also removes the bounce from adding the "start number"
  		      	$percentageUI.css({left: left_offset + "px" });
  		      	// Populate the percentage box
  		      	$percentageUI.animate({ left: ranged_left + "px" }, anim_time);
  		      	$percentageUI.find(".value").html(percentage + "%");
  		      
  		      	console.log("Done processing, the percent is: " + percentage);
  		      
             	// Build the Protex info Tip        
             	if(infoJson != null) {
                 	var protexInfoList = "";
                 	var html_info_list = "";  
       
	                html_info_list = buildHtmlToolTip("Server", infoJson.protexServer);
                 	html_info_list = html_info_list + buildHtmlToolTip("Project", infoJson.protexProjectPojo.projectName);
                 	html_info_list = html_info_list + buildHtmlToolTip("Analyzed Date", infoJson.protexProjectPojo.analyzedDate);
                
                 	console.log("Protex Info HTML:" + html_info_list);
  
                	// Create a tooltip for the protex info button
                	buildToolTip(".protex-tooltip-info", "Protex Information", html_info_list);     
            	}
			});
      <% end %>
	</script>

   <div class="title-header">
       <h1>Component Analysis</h1>
   </div>
  
  <!-- HANDLE ERROR CASE -->
            
  <% if !protex_err_msg.nil? and !protex_err_msg.data.nil? %>
  	<br><br>
  	<div class="error-message">
  		Error: <%=protex_err_msg.data %>
  	</div>
  <% else %>

  <div class="protex-tooltip-info">
       <i class="fa fa-info-circle"></i>
  </div>
  <div class="cc-link"> 
      <a href="" target="_blank" title="Protex BOM" id="protex_bom_anchor_tag"><i class="fa fa-share-square-o"></i></a>
  </div>
  
 

  <br><br>
  <div class="container">
    <div id="identifiedFiles" class="widget-tile">
     
      <div class="grouping-numbers-bar">
          <div class="analysis-grouping">
              <div class="analysis-title title-no-link small-title">
  	            	Total<br>Files
             	 </div>
  	           <div class="analysis-number">
  	               <%=fomatted_total %>
               </div>
  	           <div class="component-analysis-trend">
  	               <%=trend_icon(measure_protex_total, :big => true)%>
  	           </div>
      	   </div>
      	   
          <div class="analysis-grouping">
      		    <div class="analysis-title title-no-link small-title">
              		Total<br>Discoveries
              </div>
              <div class="analysis-number"> 
              	   <%=formatted_disc %>
              </div>
              <div class="component-analysis-trend">
                  <%=trend_icon(measure_protex_discovery_total, :big => true)%> 
              </div>           
          </div>
          
          <div class="analysis-grouping">
  		        <div class="analysis-title title-no-link small-title">
  		            Without<br>Discoveries
              </div>
              <div class="analysis-number"> 
                  <%=formatted_no_disc %>
              </div>    
              <div class="component-analysis-trend">
                  <%=trend_icon(measure_protex_no_discovery_total, :big => true)%>
              </div>
          </div>
          
          <div class="analysis-grouping">
         		  <div class="analysis-title title-no-link small-title">
                 	 Pending<br>IDs
              </div>
              <div class="analysis-number">
                  <%=formatted_pending %>
              </div>
              <div class="component-analysis-trend">
                  <%=trend_icon(measure_protex_pending_total, :big => true)%>
		          </div>
          </div>
      </div>
      
      
      <div class="widget-row">
          <p>Identified:</p>
      </div>
      <div class="widget-row widget-scale">
      	<div class="widget-span widget-span-11">
	      	<div class="widget-measure-container">
		        <div class="start value">0</div>
		        <div class="gradient scale">&nbsp;</div>
		        <div class="percentage">
		        	<span class="value">0%</span>
			    	<label>Identified</label>      
		        </div>
		        <div class="end value"><%=formatted_disc %></div>
	        </div>
        </div>
      </div>
      <div class="widget-row widget-scale">
	      <img class="logo" src="/static/BDSPlugin/common/bd_logo.png  ">
	  </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <% end %>
