<!-- GLOBALS -->
<%
	pluginName = 'BDSPlugin';

	cc_error_msg = measure('code-center-error-message')
  	protex_error_msg = measure('protex-error-message')

	lic_json_string = measure('license-breakdown-json')
	lic_conflict_measure = measure('protex-total-license-conflict-files')
	fomatted_lic_conflict = format_measure(lic_conflict_measure, :suffix => '')
	cc_bom_url = measure('cc-app-bom-url')
	pp_measure = measure('protex-project')
	
%>
<script type="text/javascript">
function loadjsfile(filename){
    var fileref=document.createElement('script')
    fileref.setAttribute("type","text/javascript")
    fileref.setAttribute("src", filename)
    if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref)
}
function loadcssfile(filename){
    var fileref=document.createElement("link")
    fileref.setAttribute("rel", "stylesheet")
    fileref.setAttribute("type", "text/css")
    fileref.setAttribute("href", filename)
    if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref)
}

loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'font-awesome/css/font-awesome.min.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'common/bds_common.css') -%>")	
loadcssfile("<%= url_for_static(:plugin => pluginName, :path => 'lic_info/lic_info.css') -%>")	
</script>
<script type="text/javascript">
	<% if !(cc_error_msg.nil? or protex_error_msg.nil?) %>
	    console.log("Code Center error:"<% cc_error_msg -%>);
		console.log("Protex error:"<% protex_error_msg -%>);		
    	console.log("License info widget, nothing to display");
	<% else %>
		require(["<%= url_for_static(:plugin => pluginName, :path => 'highcharts.js') -%>"],
	  function()
	  {
		var dataArr = [];
		var licJson = <%=lic_json_string.data%>;
		
		console.log("License json: " + licJson);
		for(key in licJson)
		{
		    console.log("Category License: " + key);  
		    var licenseCategory = licJson[key];
	
		    var number = parseFloat(licenseCategory['count']);
			var color = licenseCategory['color'];
			var catName = licenseCategory['categoryName'];
			
			var dataSlice = 
			{
				  color: color,
				  name: catName,
				  y: number
			}
			
			dataArr.push(dataSlice);
		}
	
		console.log("Data Array: " + dataArr);
	
		var seriesSet =    
			{
	            type: 'pie',
	            name: 'Licenses',
	            data: dataArr      
	        };
	
		// Check to make sure there is something worth rendering.
	    if(dataArr == null || dataArr.length == 0)
	    {
	      console.log("No data to populate the pie chart with.")
	      return;
	    }
		
	    var chart = new Highcharts.Chart({
	        chart: {
	            margin: 1,
	            spacing: 1,
	            renderTo: 'lic_chart_container',
	            type: 'pie',
	        },
	        title: 
	        {
	        	text: "",
	            floating: true,
	            align: 'left',
	            x: 10,
	            y: 50
	        },
	        plotOptions: {
	            pie: {
	                startAngle: 90,
	                dataLabels: {
	                    enabled: true,
	                    format: '{point.name} ({point.y})',
	                    style: {
	                        textShadow: '0px 1px 1px gray'
	                    }
	                },
	            }
	        },
	        credits:
	        {
	        	enabled: false
	        },
	        series: [ seriesSet ]
	    });
	  });
	<% end %>		
</script>

  <div class="title-header">
    <h1>
      Component License Information 
     </h1> 
  </div>
  
<% if (!cc_error_msg.nil? and !cc_error_msg.data.nil?) or (!protex_error_msg.nil? and !protex_error_msg.data.nil?) %>
<br><br>
	<div class="error-message">
		Error: <%=cc_error_msg.data %> <br> <%=protex_error_msg.data%>
	</div>
<% else %>
  <img class="logo" src="<%= url_for_static(:plugin => pluginName, :path => 'common/bd_logo.png') -%>  ">  
  <div class="cc-link"> 
      <a href="<%=cc_bom_url.data%>" target="_blank" title="Code Center BOM"><i class="fa fa-share-square-o"></i></a>
  </div>

	<table width="95%">	
	<tr>
		<td>
      <div class="license-conflict-type title-no-link">License Types:</div>
      <br><br><br><br>
      
			<div class="license-conflict-grouping">
				<div class="license-conflict-type title-no-link">
					Conflicts:
				</div>
				<div class="license-conflict-count conflict-count-color">
					<%=fomatted_lic_conflict%>
				</div>	
				<div class="component-license-trend">
				  <%=trend_icon(lic_conflict_measure, :big => true)%>
			  </div>
			</div>			
		</td>
      <td>
        <div class="chart-container" id="lic_chart_container"></div>
      </td>
	</tr>
	</table>

<% end %>
